@font-face {
	font-family: "Fira Sans";
	src: url(../fonts/FiraSans-Regular.ttf);
}
@font-face {
	font-family: "Fira Sans Medium";
	src: url(../fonts/FiraSans-Medium.ttf);
}
@font-face {
	font-family: "Fira Sans Light";
	src: url(../fonts/FiraSans-Light.ttf);
}
@font-face {
	font-family: "Fira Extra Condensed";
	src: url(../fonts/FiraSansExtraCondensed-Regular.ttf);
}
@font-face {
	font-family: "Fira Mono";
	src: url(../fonts/FiraMono-Regular.ttf);
}
@font-face {
	font-family: "Fira Mono Medium";
	src: url(../fonts/FiraMono-Medium.ttf);
}
